

<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
                <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
        <mat-card-content>
            <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/dish-details', prev]">Prev</button>
            
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dish-details', next]">Next</button>
        </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
      <h2>Comments</h2>
      <mat-list  role="list">
        <mat-list-item role="listitem" *ngFor="let comment of dish.comments">
            <div>{{comment.comment}} <br> {{comment.rating}} Stars <br>-- {{comment.author}} {{comment.date | date}}</div>
        </mat-list-item>
       </mat-list>
       <mat-list  role="list">
        <mat-list-item role="listitem">
            <div>{{commentsForm.value.comment}} <br> <span *ngIf="commentsForm.value.rating">{{commentsForm.value.rating}} Stars</span> <br><span *ngIf="commentsForm.value.author">-- {{commentsForm.value.author}}</span></div>
        </mat-list-item>
       </mat-list>
       <!-- <mat-list  role="list">
        <mat-list-item role="listitem">
            <div>{{newcomments.comment}} <br> <span *ngIf="commentsForm.value.rating">{{newcomments.rating}} Stars</span> <br><span *ngIf="commentsForm.value.author">-- {{newcomments.author}}</span></div>
        </mat-list-item>
       </mat-list> -->
       <p>{{commentsForm.value | json}}</p>
       <form novalidate [formGroup]="commentsForm" #cform="ngForm" (ngSubmit)="onSubmit()">
           <p>
               <mat-form-field class="full-width">
                   <input type="text" matInput formControlName="author" placeholder="Name" required>
                   <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
               </mat-form-field>
           </p>
           <p>
            <mat-slider formControlName="rating"
                class="rating half-width"
                [disabled]="disabled"
                [invert]="invert"
                [max]="max"
                [min]="min"
                [step]="step"
                [thumbLabel]="thumbLabel"
                [tickInterval]="getSliderTickInterval()"
                [(ngModel)]="value"
                [vertical]="vertical"
                aria-labelledby="example-name-label">
            </mat-slider>
           </p>
           <p>
            <mat-form-field class="full-width">
                <textarea matInput formControlName="comment" placeholder="Your comment" rows="12" required></textarea>
                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
            </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary" [disabled]="commentsForm.invalid">Submit</button>
       </form>
  </div>
  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading... Please Wait!</h4>
</div>
<div fxFlex *ngIf="errMess">
    <h4>Error Message</h4>
    <h5>{{errMess}}</h5>
</div>

</div>