/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
// @import '../node_modules/font-awesome/scss/font-awesome';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.flex-spacer{
    flex: 1 1 auto;
}
.full-width{
    width: 95%;
}
.half-width{
    width: 45%
}
.form-size{
    width: 75%;
}