.fl{
    float: left;
}
.w-5{
    width: 5%;
}
.w-95{
    width: 95%;
}

.mat-list-base .mat-list-item .mat-list-avatar, .mat-list-base .mat-list-option .mat-list-avatar{
    width: 60px;
    height: 60px;
    overflow: hidden;
    img{
        max-width: 100%;
    }
}