<div class="container" flexLayout="column" flexLayoutGap="10px">
    <div fxFex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>
    <div fxFlex *ngIf="dishes">
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor='let dish of dishes' (click)="onSelect(dish)">
                <img height="200px" src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
                <mat-grid-tile-footer>
                    <h1 matLine>{{dish.name | uppercase}}</h1>
                </mat-grid-tile-footer>
                <!-- <p matLine><span>{{dish.description}}</span></p> -->
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div fxFlex [hidden]="dishes || errMess">
        <mat-spinner></mat-spinner>
        <h4>Loading... Please Wait!</h4>
    </div>
    <div fxFlex *ngIf="errMess">
        <h4>Error Message</h4>
        <h5>{{errMess}}</h5>
    </div>
</div>