<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="dish" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="dish || errMess" fxFlex>
  <mat-spinner></mat-spinner>
  <h4>Loading...! Please Wait!</h4>
</div>
<div fxFlex *ngIf="errMess">
  <h4>Error Message</h4>
  <h5>{{errMess}}</h5>
</div>

<mat-card *ngIf="promotion" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + promotion.image}}" alt={{promotion.name}}>
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="promotion" fxFlex>
  <mat-spinner></mat-spinner>
  <h4>Loading...! Please Wait!</h4>
</div>

<mat-card *ngIf="lead" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{lead.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + lead.image}}" alt={{lead.name}}>
  <mat-card-title>
    <h4>{{lead.designation}}</h4>
  </mat-card-title>
  <mat-card-content>
    <p>{{lead.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="lead || errMess" fxFlex>
  <mat-spinner></mat-spinner>
  <h4>Loading...! Please Wait!</h4>
</div>
<div fxFlex *ngIf="errMess">
  <h4>Error Message</h4>
  <h5>{{errMess}}</h5>
</div>
</div>